@page "/Ejercicio10"
@using Tarea_V.Models;

<div class="alert alert-info" role="alert">
Mostrar el cliente que mas dinero ha gastado, mostrar los datos del cliente, la cantidad de ordenes y el total de la misma. (un solo cliente)
</div>

<table class="table ">
    <thead class="table-dark">
        <tr>
            <td>Id</td>
            <td>Nombre suplidor</td>
            <td>Apellido</td>
            <td>Trabajo</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Customers item in Customers())
        {
            
            <tr>
                <th>@item.Id</th>
                <th>@item.FirstName</th>
                <th>@item.LastName</th>
                <th>@item.JobTitle</th>
            </tr>
        }
    </tbody>
</table>


@code{
    List<Customers> Customers() => new northwindContext().Customers.ToList();
}