@page "/"
@using Tarea_V.Models;

    <div class="card mb-12 shadow-lg p-3 mb-5 bg-white rounded">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://scontent.fhex4-2.fna.fbcdn.net/v/t1.0-9/p843x403/109568487_2715318092128341_3590239056921946067_o.jpg?_nc_cat=110&ccb=3&_nc_sid=8bfeb9&_nc_ohc=IAP_SPiBShsAX8-YHqr&_nc_ht=scontent.fhex4-2.fna&tp=6&oh=fde4b971187851cd295119ac064d8b42&oe=605A114C" alt="..." style="height:200px; object-fit:cover; width:100%;">
            </div>
            <div class="col-md-8 ">
                <div class="card-body">
                    <h5 class="card-title btn btn-dark  form-control ">Rody Castro Cuello</h5>
                    <p class="card-title btn btn-dark  form-control ">Matricula: 2018-6753</p>
                    <p class="card-title btn btn-dark  form-control ">Programacion III</p>
                </div>
            </div>
        </div>
    </div>